<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Android 13+ notifications permission  -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--  needed   ick images (gallery) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />
    <!-- If targeting 33+, you should use READ_MEDIA_IMAGES instead:
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    -->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatMessengerApp"
        tools:targetApi="33">

        <!-- FCM Service (MUST be directly under <application>, not inside an activity) -->
        <service
            android:name=".notifications.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Reply receiver -->
        <receiver
            android:name=".notifications.NotificationsReply"
            android:exported="false" />

        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".activities.SignInActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>